@import 'styleguide.scss';

body{
    width:100%;
    box-sizing: border-box;
    margin:0;
    background-color:#FAF0E8;
}

* {
    box-sizing: inherit;
}

/* font heiarchy */
header h5{
    text-align:center;
    font-size:larger;
    padding-top:10%;
}

/* nav bar - temporary holder of the client's existing nav bar  */
#logo{
    width:60px;
}
.navbar{
    background-color:#FAF0E8;
}
.navbar-nav{
    right:0;
    background-color:#FAF0E8;
}
#active{
    border-bottom: 5px solid #E1AF6F;
}

/* header section */
header{
    width:100%;
    padding:50px 10%;
    background-image: url("../images/header.png");
    background-size:cover;
    background-position: top center;
    background-repeat: no-repeat;
    color: #FAF0E8;
}

.search-bar{
    padding: 2% 5%;
    width:100%;
    border:none;
    background-color:#FAF0E8;
}

/* directory */
.directory{
    padding:4em 10%;
    background-color:#FAF0E8;
}

/* carousel images resize, center aligned, as screen size changes */
.center{
    object-fit: cover;
    width:100%;
    height:160px;
    object-position: center;
}

img {
    width:100%;
    object-fit: cover;
}

.small{
    font-size:0.1em;
    line-height:15px;
    margin:0;
    padding:0;
}

/* filter tag overflow handling - horizontal scroll */
.scrolls{
    margin:0;
    overflow-x: scroll;
    white-space:nowrap;
    padding:0;
}

/* filter tags */
#district{
    background-color: #495E90;
    color:#FAF0E8;
}
#category{
    background-color: #E1AF6F;
    color:#484848;
}
#price{
    background-color: #CF575B;
    color:#FAF0E8;
}

#add-business{
    background-image: linear-gradient(#495E90, #3A4477);
}

#formModal .modal-content{
    background-image: linear-gradient(to right, #495E90, #3A4477);
    border: none;
}

#formModal .modal-title{
    color:#E1AF6F;
}

.submit{
    background-color:#E1AF6F;
    color:#495E90;
    border:none;
    padding:1% 2%;
}

.edit-icon{
    width: 170px;
}

.modal{
    background-color:rgba(0, 0, 0, 0.3);
}