@import 'styleguide.scss';

body{
    width:100%;
    box-sizing: border-box;
    margin:0;
    background-color:#FAF0E8;
}

* {
    box-sizing: inherit;
}

header{
    width:100%;
    padding:50px 10%;
    background-image: url("../images/header.png");
    background-size:cover;
    background-position: top center;
    background-repeat: no-repeat;
    top:0;
    color: #FAF0E8;
}

.top{
    padding: 5% 0;
}

.left, .right{
    width:40%;
    vertical-align:middle;
    margin:0 3%;
    padding:0;
    display:inline-block;
}

.shortcuts{
    width:60%;
    display: block;
    margin:0 auto;
}

.link{
    vertical-align: text-top;
    width:20%;
    display:inline-block;
    margin:0% 6%;
}
h5{
    text-align:center;
    font-size:larger;
}
h4{
    padding-top:5%;
}
.icon{
    width:100%;
}

.search-bar{
    padding: 2% 5%;
    border-radius:20px;
    width:70%;
    border:none;
}

.navbar-nav{
    right:0;
}
